*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

p{
    color: gray;
}

header{
    padding: 8% 20%;
    background-color:rgb(243, 239, 234);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    font-size: 3em ;
    font-family: 'Ubuntu', sans-serif;
    font-weight: ;
    
}

.menu-bar ul {
    display: flex;
}

.menu-bar ul li{
    list-style: none;
    margin: 5%;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.title{
    text-align: center;
    margin-top: 10%;
}

.title h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 4em;
    margin-bottom: 5%;
}

.title p {

    margin-bottom: 3%;
}

.btn{
    text-decoration: none;
    padding: 2% 4%;
    background-image: linear-gradient(blue,blueviolet);
    color: aliceblue;
    border-radius: 10px;
}

header img{
    width: 100%;
    margin-top: 10%;
}

@media screen and (max-width:576px) {
    header{
        background-color:antiquewhite;
        padding: 5%;
    }
    nav{
        flex-direction: column;
    }
    nav h2 {
        font-size: 2em;
    }
    .menu-bar ul{
        justify-content: center;
    }
}

.our-features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.features {
    padding: 0 8%;
}
    
.features h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    margin-bottom: 5%;
    font-weight: 900;
}

.features-h1 {
    color: gray;
}

.features-h1-h1 {
    color: blue;
}

.features p{
    margin-bottom: 5%;
}

@media  screen and (max-width:576px) {
    .our-features {
        flex-direction: column;
    }
    .img{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .features h1 {
        margin-top: 10%;
    }
}


.features-love-enjoy {
    display: flex;
    margin-top: 10%;
}

.features-love {
    width: 30%;
}

.features-love h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    margin-bottom: 5%;
    font-weight: 900;
}

.features-love h3 {
    margin-top: 25%;
}

.features-love h1, h3, p {
    padding-left: 8%;

}

.sp-p {
    padding-left: 2%;
}
.features-enjoy img {
    width: 100%;
}
.btn2 {
    text-decoration: none;
    padding: 6% 10%;
    background-image: linear-gradient(blue,blueviolet);
    color: aliceblue;
    border-radius: 10px;
    position: relative;
    top: -50px;
    left: -40px;
}

@media screen and (max-width:576px) {
    .features-love-enjoy {
        flex-direction: column;
        margin-top: 20%;
    }
    .features-love {
        width: 100%;
    }
    .features-enjoy img {
        margin-top: 10%;
    }
    .btn2 {
      position: relative;
      top: 23px;
      left: 50px;
    }
}

.some-facts h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: 900;
}

.some-facts p,h1 {
    padding: 1%;
}

.rating {
    display: flex;
    justify-content: space-around;
}

.rating div {
    width: 200px;
    height: 200px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0 0 0;
}
    

@media screen and (max-width:576px) {

    .some-facts  {
        margin-top: 15%;
    }
    .some-facts h1,p {
        margin-left: 2%;
    }
    .some-facts p{
        margin-bottom: 3%;
    }
    .rating {
        flex-direction: column;
        }

        .rating div {
            width: 80%;
            height: 200px;
            margin:0 10% ;
            margin-bottom: 3%;
        }
        
}

.our-sponsors {
    padding-bottom: 10%;
}

.our-sponsors h1,p {
    text-align: center;
}

.our-sponsors h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: 900;
}

.our-sponsors p {
    margin-bottom: 3%;
}
.sponsors {
    display:flex; 
    justify-content: space-around;
}
    

@media screen and (max-width:576px) {
    .sponsors {
        flex-direction: column;
    }

    .our-sponsors h1 {
        margin-bottom: 10%;
    }
    .our-sponsors p {
        margin-bottom: 10%;
        width: 100%;
    }

    .sponsors img {
        width: 40%;
        margin: 5% 30%;

    }
}
    
    
    
    
    
    
    
